/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                Compass::SpriteImporter
                /Users/200025/code/cfdemo/public/stylesheets/sass
                /Users/200025/code/cfdemo/app/assets/stylesheets
                /Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.7/frameworks/blueprint/stylesheets
                /Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.7/frameworks/compass/stylesheets
        on line 1 of /Users/200025/code/cfdemo/app/assets/stylesheets/application.css.scss

1: @import "bootstrap";
2: @import "compass/css3";

Backtrace:
/Users/200025/code/cfdemo/app/assets/stylesheets/application.css.scss:1
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/import_node.rb:64:in `import'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:149:in `visit_import'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/engine.rb:300:in `_render'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/engine.rb:248:in `render'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/engine.rb:248:in `render'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/sass-3.1.12/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `send'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/rack/content_length.rb:16:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/handler/webrick.rb:59:in `service'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/200025/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/handler/webrick.rb:13:in `run'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/rack-1.3.6/lib/rack/server.rb:265:in `start'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/commands/server.rb:70:in `start'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/commands.rb:54
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/commands.rb:49:in `tap'
/Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/railties-3.1.0/lib/rails/commands.rb:49
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/200025/code/cfdemo/public/stylesheets/sass\A                 /Users/200025/code/cfdemo/app/assets/stylesheets\A                 /Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.7/frameworks/blueprint/stylesheets\A                 /Users/200025/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.11.7/frameworks/compass/stylesheets\A         on line 1 of /Users/200025/code/cfdemo/app/assets/stylesheets/application.css.scss\A \A 1: @import \"bootstrap\";\A 2: @import \"compass/css3\";"; }
